*{
    box-sizing: border-box;
}

button:hover{
    cursor:pointer;
}

h1{
    color: rgb(130, 57, 197);
}

.modo_sexo{
    height: 2000px;
    position: absolute;
    display: none;
    width: 100%;
    background-color: red;
    z-index: 1000;
}

#btn_si{
    padding: 4px 32px;
    border: 1px solid grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: cadetblue;
    color: azure;
    font-size: xx-large;
    text-align: center;
}